;;
;; This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
;;

[NH_COMMON]
NH_TCPIP = Enabled
[NH_TCPIP]
;;NH_SERVER_ADDR = <Addr1>, <Addr2>
NH_SERVER_ADDR = 127.0.0.1
;;NH_SERVER_NAME = <Name1>, <Name2>,
;;NH_PORT_NUMBER = <Num>		; Set the TCP/IP port number. This is
					                  ; optional. The default number is 475.
